$font-family-sans-serif: 'Noto Sans', sans-serif;
$primary: #6CC57C;
$secondary: #23233C;
$text-default: #7F8DA0;
$body-color: #7F8DA0;
$body-bg: #e8edf9;
$border-radius: 10px;
$card-border-color: transparent;
$red: #EE6A6E;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "custom-card";

a {
  text-decoration: none;
  color: $text-default;
  &:active, a:hover, a:visited {
    color: $primary;
  }
}
p {
  margin: 0;
}
section {
  padding: 50px 0;
}

.custom-toggler-icon {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  img {
    position: absolute;
    top: 11px;
    &:first-child {
      left: 0;
    }
    &:last-child {
      left: 15px;
    }
  }
}

.primary-banner {
  padding-top: 80px;
  .left-side {
    .slogan {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 62px;
        height: 8px;
        border-radius: 10px;
        background-color: $secondary;
        transform: translateY(-40px);
      }
    }
    .title {
      font-size: 3.75rem;
      font-weight: bold;
      padding-top: 30px;
    }
    .description {
      margin-bottom: 30px;
    }
  }
  .right-side {
    position: relative;
    .preview-container {
      display: flex;
      justify-content: space-around;
      img.primary {
        position: relative;
        z-index: 1;
      }
      img.primary {
        width: 40%;
        &:first-child {
          margin-bottom: 100px;
          margin-right: 3%;
        }
        &:nth-child(2) {
          margin-top: 100px;
        }
      }
      .nutritionnal-information {
        position: absolute;
        width: 50%;
        top: 28px;
        left: 33%;
        z-index: 2;
      }
      .results-information {
        position: absolute;
        width: 50%;
        bottom: 30px;
        left: 3px;
        z-index: 2;
      }
    }
    &:after {
      position: absolute;
      content: '';
      width: 500px;
      height: 400px;
      background-color: #F2F6FF;
      // background-color: $red;
      border-radius: 49px;
      transform: rotate(48deg);
      top: 23%;
      right: -370px;
      z-index: 0;
    }
  }
}
.navbar-brand {
  .logo {
    width: 42px;
    height: auto;
  }
  .logo-text {
    font-size: 1.688rem;
    font-weight: bold;
    color: $secondary;
    padding-left: 15px;
  }
}

.banner-socials-links {
  margin: 0 auto;
  padding: 0;
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  li {
    list-style: none;
    & + li {
      padding-left: 15px;
      position: relative;
      &:before {
        content: '';
        height: 100%;
        border-right: 2px solid $text-default;
        transform: rotate(13deg);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &:not(:last-child) {
      padding-right: 15px;
    }
    &.active {
      a {
        color: $primary;
      }
    }
  }
}

.download-app-btn {
  padding: 10px 45px;
}
.available-platforms {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  li {
    list-style: none;
    display: inline-block;
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
  .platform-icon {
    img {

    }
  }
}

.section-title {
  position: relative;
  font-size: 2.875rem;
  line-height: 2.875rem;
  font-weight: bold;
  color: $secondary;
  &:before {
    content: '';
    position: absolute;
    width: 62px;
    height: 8px;
    border-radius: 10px;
    background-color: $secondary;
    transform: translateY(-20px);
  }
}

.sales-and-marketings {

}
.consumes-image {
  text-align: center;
  img {
    width: 100%;
  }
}

.dishes {
  padding: 100px 0 30px 0;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  .dish-title {
    color: $secondary;
    font-size: 2.188rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .dish-btn {
    width: 80px;
    height: 80px;
    position: absolute;
    padding: 0;
    right: 27px;
    bottom: -15px;
  }
  .dish-nutritionals {
    display: flex;
    align-items: center;
    .nutritional-item {
      &:not(:first-child) {
        padding-left: 10px;
      }
      .value {
        color: $secondary;
        font-size: 1.625rem;
        line-height: 1.625rem;
        font-weight: bold;
        &.text-red {
          color: $red;
        }
      }
      .name {
        font-size: 0.75rem;
        text-align: center;
      }
    }
  }
}

footer {
  padding: 50px 0;
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      width: 42px;
      height: auto;
    }
    .logo-text {
      color: $secondary;
      font-size: 3.188rem;
      font-weight: bold;
      padding-left: 15px;
      margin: 0;
    }
  }
  .social-icons {
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      display: inline-block;
      &:not(:first-child) {
        padding-left: 20px;
      }
      img {
        width: auto;
        height: 30px;
      }
    }
  }
  .copyright {
    text-align: center;
  }
}